#input_ciudadautocomplete-list{
    width: 200px;
}

#input_ciudadautocomplete-list > div{
    cursor:pointer;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
}

#input_ciudadautocomplete-list > div:hover{
    background-color: #ececec;
}
