#input_ciudadautocomplete-list{
    width: 200px;
    color: black;
}

#input_ciudadautocomplete-list > div{
    cursor:pointer;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
}

#input_ciudadautocomplete-list > div:hover{
    background-color: #ececec;
}

.buscador{
    background-color: #0077c2;
    color: white
}
